PYTHONPATH=.
POSTGRES_USER=ysu_keg
POSTGRES_PASSWORD=123456789
POSTGRES_DB=eduagent
EDUAGENT_API_PORT=8000
EDUAGENT_UI_PORT=8501
ANTHROPIC_BASE_URL=https://open.bigmodel.cn/api/anthropic
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=glm-4.5
ANTHROPIC_SMALL_FAST_MODEL=glm-4.5-air
